In [1]:
import pandas as pd

In [3]:
sarcasm_d1 = pd.read_csv("dataset/sarcasm/archive (1)/train-balanced-sarcasm.csv")

In [4]:
sarcasm_d1.sample(5)

,label,comment,author,subreddit,score,ups,downs,date,created_utc,parent_comment
248028,1,Now why on earth would they do that?,kinngshaun,halo,2,2,0,2016-06,2016-06-18 15:32:13,Well hopefully they took our feedback and impr...
377139,1,"Yay, DBE Goku wins!",MrIronGolem27,whowouldwin,1,1,0,2016-04,2016-04-06 16:33:05,Superman will take one look at DBE Goku and fa...
818655,0,You can doge a clip you can dodge a ball.,NextArtemis,mildlyinteresting,1,1,0,2014-08,2014-08-15 04:23:53,Perfect for office dodgeball then.
818033,1,Not if you have a sexy battle-scarred groundwa...,ppopjj,GlobalOffensive,9,9,0,2014-01,2014-01-29 20:59:05,MP7 is ugliest. I've never used it based solel...
871231,0,Abstraction is still not the problem: the fact...,gallais,programming,0,0,0,2014-10,2014-10-18 14:24:10,You are a bit too eager here. While it is true...

In [5]:
sarcasm_d1.size

10108260

In [6]:
sarcasm_d1["label"].value_counts()

label
0    505413
1    505413
Name: count, dtype: int64

In [7]:
sarcasm_d2 = pd.read_csv("dataset/sarcasm/archive/train.csv")
sarcasm_d2.sample(5)

                                                  tweets       class
51257  #WomenVoters #Women Poll: 54 Percent of Black ...     regular
61002  @tsnmike maybe should have added an emoji or #...     sarcasm
7246   not enough people realise that posting opinion...  figurative
73710  Thanks @canadapostcorp &amp; @CityofEdmonton U...     sarcasm
43815  Review of http://t.co/oMfOazwQjB http://t.co/c...     regular

In [8]:
sarcasm_d2.size

162816

In [9]:
sarcasm_d2["class"].value_counts()

class
figurative    21238
irony         20894
sarcasm       20681
regular       18595
Name: count, dtype: int64